@(title: String = "Sentilab Sare", scripts : Html = Html(""), styles : Html = Html(""), active : String = "Home",
	leftbar: Html = Html(""), content: Html = Html(""), rightbar: Html = Html(""), contentWidth: Int = 10,
	showPageHeader: Boolean = true)

@import play.mvc.Http._
@import scala.collection.mutable._
@import controllers._

<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/jquery-ui/css/ui-lightness/jquery-ui-1.9.2.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/bootstrap/css/bootstrap-responsive.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		@styles
		
		<script src="@routes.Assets.at("javascripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("plugins/jquery-ui/js/jquery-ui-1.9.2.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
		<script src="@base.routes.Application.javascriptRoutes()" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/main.html.js")" type="text/javascript"></script>
		@scripts
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span@((12-contentWidth)/2)">
						</div>
						
						<div class="span@contentWidth">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar">
								</span>
								<span class="icon-bar">
								</span>
								<span class="icon-bar">
								</span>
							</a>
							<a class="brand" href="@base.routes.Application.index()">Sentilab Sare</a>
							<div class="nav-collapse collapse">
								<p class="navbar-text pull-right">
									Logged in as <a href="#" class="navbar-link">
										@if(Context.current().request().username() != null) {
											Context.current().request().username()
										} else {
											anonymous
										}
									</a>
								</p>
								<ul class="nav">
									@for((title, url) <- LinkedHashMap("Home" -> "#", "About" -> "#", "Contact" -> "#")) {
										<li @if(title.equalsIgnoreCase(active)) { class="active" }>
											<a href="@url">@title</a>
										<li>
									}
								</ul>
							</div><!--/.nav-collapse -->
						</div>
						
						<div class="span@((12-contentWidth)/2)">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span@((12-contentWidth)/2) leftbar">
					@leftbar
				</div>
				
				<div class="span@contentWidth centerbody">
					<div class="container-fluid">
						@if(showPageHeader) {
							<div class="row-fluid page-header">
								<h1>Sentilab Sare</h1>
								<p class="lead">
									A Sentiment Analysis Research Environment
								</p>
							</div>
						}
						<div class="row-fluid content">
							@content
						</div>
					</div>
				</div>
				
				<div class="span@((12-contentWidth)/2) rightbar">
					@rightbar
				</div>
			</div>
			
			<footer class="row-fluid">
				<p>
					Copyright &copy; <a href="http://www.sabanciuniv.edu" target="_blank">Sabanc&#305; University</a> 2013.
					All rights reserved.
				</p>
				<p>
					A <a href="http://www.sentilab.sabanciuniv.edu" target="_blank">Sabanc&#305; Sentilab</a> project.
				</p>
				<p>
					Source code is available under <a href="http://www.gnu.org/licenses/gpl-3.0.html.en" target="_blank">GPL v3.0</a>
					from <a href="https://bitbucket.org/musabhusaini/sare" target="_blank">Bitbucket</a>.
				</p>
				<ul class="footer-links">
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</footer>
		</div>
	</body>
</html>
